html {
  font-size: 2rem;
}

body {
  background-image: url("/photos/bc-img-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

main {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.whether-container {
  color: rgba(37, 48, 57, 0.788);
}

.whether {
  font-size: 4rem;
  text-align: center;
  line-height: 200%;
}

/* media Query  */

@media (max-width: 500px) {
  .whether {
    font-size: 2.5rem;
  }
  .text__sizer {
    font-size: 1.5rem;
  }
}
